# Data Prep Assignments

## Assignment 1: Set the Correct Row Granularity

In [8]:
# 1. Read the Excel spreadsheet into a Pandas DataFrame
import pandas as pd

df = pd.read_excel("../Data/entertainment.xlsx")
df.head()

     name entertainment  hours_per_week
0   Emily   video_games             5.1
1    Liam   video_games             4.9
2  Olivia   video_games             4.7
3    Noah   video_games             4.6
4     Ava   video_games             5.0

In [9]:
# 2. Check the number of rows and columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            600 non-null    object
 1   entertainment   600 non-null    object
 2   hours_per_week  595 non-null    float64
dtypes: float64(1), object(2)
memory usage: 14.2+ KB

In [11]:
# 3. Determine the row granularity needed
df["entertainment"].value_counts()

entertainment
video_games    150
tv_shows       150
movies         150
books          150
Name: count, dtype: int64

In [12]:
# 4. Apply the correct DataFrame transformation
(df.pivot(index=['name'], columns=['entertainment'], values=['hours_per_week'])
   .fillna(0)
   .reset_index())

                   name hours_per_week
entertainment                    books movies tv_shows video_games
0               Aaliyah            0.5    1.5      4.6         4.9
1               Abigail            0.0    1.4      4.5         4.8
2               Addison            0.5    1.6      4.5         5.0
3               Adeline            3.5    4.4      4.5         6.6
4                 Alana            2.8    3.9      3.8         5.6
..                  ...            ...    ...      ...         ...
145            Winifred            5.2    5.4      4.6         6.9
146              Xanthe            6.0    5.6      4.6         6.7
147                Zara            5.5    6.7      5.7         7.7
148                 Zoe            0.0    1.5      6.1         5.2
149                Zoey            1.2    1.7      4.9         5.1

[150 rows x 5 columns]

In [13]:
# 5. Save the transformation as a new DataFrame
entertains_hour_per_week = (df.pivot(index=['name'], columns=['entertainment'], values=['hours_per_week'])
   .fillna(0)
   .reset_index())

In [15]:
# 6. Check the number of rows and columns
entertains_hour_per_week.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   (name, )                       150 non-null    object
 1   (hours_per_week, books)        150 non-null    float64
 2   (hours_per_week, movies)       150 non-null    float64
 3   (hours_per_week, tv_shows)     150 non-null    float64
 4   (hours_per_week, video_games)  150 non-null    float64
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## Assignment 2: Prepare Columns for Modeling

In [ ]:
# 1. Find the missing values

In [ ]:
# 2. Fill in the missing values with zeros

In [ ]:
# 3. Create a new column called video_game_lover for people who played more than 7 hours of video games

## Assignment 3: Feature Engineering

In [ ]:
# 1. Create a column called total_entertainment that sums up all the types of entertainment for each student

In [ ]:
# 2. Create a column called pct_screen that calculates the percent of entertainment thatâ€™s on screens (everything except for books) for each student

## Assignment 4: Feature Selection

In [ ]:
# 1. Save the student name column of the DataFrame as its own Series for reference

In [ ]:
# 2. Save the three new columns of the DataFrame as its own DataFrame for modeling â€“ video_game_lover, total_entertainment and pct_screen

## Assignment 5: Feature Scaling

In [ ]:
# 1. Scale the features in the modeling DataFrame so they all have a mean of 0 and a standard deviation of 1

In [ ]:
# 2. Save the output as a final DataFrame thatâ€™s ready for modeling

In [ ]:
# 3. Optional: pickle the dataframe for modeling